{% extends 'admin_home/admin_base.html' %}
{% load static %}

{% block body %}

    <div class="container-fluid">
        <div class="card shadow mb-4 my-auto">

            <div class="card-header">

                <div style="float: right">
                    <button type="submit" class="btn btn-primary" data-toggle="modal"
                            data-target="#addProgrammingModal">Add
                        Programming Language
                    </button>
                </div>
                <h4>Programming Language</h4>
                <button type="submit" class="btn btn-primary" id="create_program">
                    Show Form
                </button>


                <button type="submit" class="btn btn-primary" style="display: none;" id="hide-form">
                    Hide Form
                </button>

            </div>

            <div class="card-body" style="display: none;" id="create_program_form">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="form-group">
                        <label for="Programming Title">Title</label>
                        {{ form.p_title }}
                    </div>
                    <div class="form-group">
                        <label for="Programming Content">Link</label><br>
                        {{ form.p_link }}
                    </div>
                    <div class="form-group">
                        <label for="Programming Content">Content</label>
                        <br>
                        {{ form.p_code }}
                    </div>
                    <div class="form-group">
                        <label>Choose Programming Language:</label>
                        <select class="form-control" data-show-subtext="true" data-live-search="true" id="p_language"
                                name="p_language" required>

                            {% for programming in language_types %}

                                <option value="{{ programming.id }}">{{ programming.language_type }}</option>

                            {% endfor %}


                        </select>
                    </div>


                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

        </div>
        <br>
        <!-- Show Posted Programming -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">Our Posted Programmings</h1>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Border Left Utilities -->
                        {% for program in programs %}

                            <div class="col-md-6">

                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <strong style="color: black">{{ program.p_title }}</strong>
                                        <div class="float-right">
                                            <a href="{% url 'programEdit' program.id %}" class="btn btn-warning  btn-md">Edit</a>
                                            <form action="{% url 'programDelete' program.id %}" method="POST"
                                                  class="d-inline">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-danger" value="Delete"
                                                       onclick="deleteNoticeFunction()">
                                            </form>
                                        </div>


                                    </div>
                                </div>


                            </div>
                        {% endfor %}


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Posted Notice -->
    </div>


    <!-- Add Programming Language Model-->

    <!-- Add Programming Modal-->
    <div class="modal fade" id="addProgrammingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Programming Language</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Choose Programming Language Name:
                    <form action="{% url 'add_programming_language' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" name="programming_language">
                                <option selected>Choose...</option>
                                <option value="Java">Java</option>
                                <option value="Python">Python</option>
                                <option value="PHP">PHP</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="C++">C++</option>
                                <option value="C">C</option>
                            </select>

                        </div>
                        <br>
                        <hr>
                        <div style="float: right">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>


                    </form>


                </div>

            </div>
        </div>
    </div>

    {% block scripts %}
        <!-- Sweet alert Link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

        <!-- jquery link -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>

            $("#create_program").click(function () {
                    $("#create_program_form").show()
                    $("#hide-form").show()
                    $(this).hide()
                }
            );
            $("#hide-form").click(function () {
                $('#create_program_form').hide()
                $("#create_program").show()
                $(this).hide()
            });

            // Delete Function for confirm delete
            function deleteNoticeFunction() {
                event.preventDefault(); // prevent form submit
                let form = event.target.form; // storing the form
                swal({
                        title: "Are you sure you want to delete blog?",
                        text: "Once it's done it can't be undone.",
                        type: "warning",
                        showCancelButton: true,
                        cancelButtonColor: "#FFF",
                        confirmButtonColor: "#dd6b55",
                        confirmButtonText: "Yes, Delete it!",
                        cancelButtonText: "No, cancel please!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            form.submit();          // submitting the form when user press yes
                        } else {
                            swal("Cancelled", "Program not deleted. ", "error");
                        }
                    });
            }


        </script>
    {% endblock %}

{% endblock %}