+{% extends 'home/base.html' %}
{% load static %}


{% block body %}
    {% block style %}
        <style>
            a:first-child img {
                transition: .2s;
            }

            a:first-child img:hover {
                transform: scale(1.1);
            }

            a h3:hover {
                color: green;
            }

            .accordion .card-header h3:after {
                font-family: 'FontAwesome';
                content: "-";
                float: right;
            }

            .accordion .card-header.collapsed h3:after {
                /* symbol for "collapsed" panels */
                content: "+";
            }


        </style>

    {% endblock %}


    <!-- page title -->
    <section class="page-title-section overlay" data-background="{% static 'home/images/backgrounds/page-title.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary"
                                                        href="{% url 'bachelorCourseDetail' subject.faculty_id %}"><strong>{{ subject.faculty.faculty_name }}</strong>
                        </a></li>
                        <li class="list-inline-item text-white h3 font-secondary nasted">
                            {% if subject.subject_semester == 1 %}
                                <a href="{% url 'bachelorFirstSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>1<sup>st</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 2 %}
                                <a href="{% url 'bachelorSecondSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>2<sup>nd</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 3 %}
                                <a href="{% url 'bachelorThirdSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>3<sup>rd</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 4 %}
                                <a href="{% url 'bachelorFourthSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>4<sup>th</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 5 %}
                                <a href="{% url 'bachelorFifthSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>5<sup>th</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 6 %}
                                <a href="{% url 'bachelorSixthSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>6<sup>th</sup> Semester</b>
                                </a>
                            {% elif subject.subject_semester == 7 %}
                                <a href="{% url 'bachelorSeventhSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>7<sup>th</sup> Semester</b>

                                </a>
                            {% elif subject.subject_semester == 8 %}

                                <a href="{% url 'bachelorEighthSem' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>8<sup>th</sup> Semester</b>
                                </a>

                                {# *************** For Year wise BBS ************************* #}
                            {% elif subject.year == 1 and subject.faculty.faculty_name == 'BBS' %}
                                <a href="{% url 'bachelorFirstYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>1<sup>st</sup> Year</b>
                                </a>
                            {% elif subject.year == 2 and subject.faculty.faculty_name == 'BBS' %}
                                <a href="{% url 'bachelorSecondYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>2<sup>nd</sup> Year</b>
                                </a>
                            {% elif subject.year == 3 and subject.faculty.faculty_name == 'BBS' %}
                                <a href="{% url 'bachelorThirdYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>3<sup>rd</sup> Year</b>
                                </a>
                            {% elif subject.year == 4 and subject.faculty.faculty_name == 'BBS' %}
                                <a href="{% url 'bachelorFourthYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>4<sup>th</sup> Year</b>
                                </a>


                                {# *************** For Year wise BSW ************************* #}
                            {% elif subject.year == 1 and subject.faculty.faculty_name == 'BSW' %}
                                <a href="{% url 'bachelorFirstYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>1<sup>st</sup> Year</b>
                                </a>
                            {% elif subject.year == 2 and subject.faculty.faculty_name == 'BSW' %}
                                <a href="{% url 'bachelorSecondYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>2<sup>nd</sup> Year</b>
                                </a>
                            {% elif subject.year == 3 and subject.faculty.faculty_name == 'BSW' %}
                                <a href="{% url 'bachelorThirdYear' subject.faculty_id %}"
                                   class="h3 text-primary font-secondary">
                                    <b>3<sup>rd</sup> Year</b>
                                </a>

                            {% endif %}

                        </li>
                        <li class="list-inline-item text-white h3 font-secondary nasted">
                            {{ subject.subject_name }}
                        </li>
                    </ul>
                    <p class="text-lighten">We provide free notes, syllabus, past paper questions along with it's
                        solution which can be really helpful during your entire bachelor life.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <div class="container mt-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <div style="display: flex; justify-content: space-between">
                    <h6 class="m-0 font-weight-bold">{{ subject.subject_name }}</h6>

                    {% if subject.subject_semester == 1 %}

                        <a href="{% url 'bachelorFirstSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 2 %}
                        <a href="{% url 'bachelorSecondSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 3 %}
                        <a href="{% url 'bachelorThirdSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 4 %}
                        <a href="{% url 'bachelorFourthSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.subject_semester == 5 %}
                        <a href="{% url 'bachelorFifthSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 6 %}
                        <a href="{% url 'bachelorSixthSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 7 %}
                        <a href="{% url 'bachelorSeventhSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>
                    {% elif subject.subject_semester == 8 %}
                        <a href="{% url 'bachelorEighthSem' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                        {# ***************************** For Year wise BBS *************************************** #}
                    {% elif subject.year == 1 and subject.faculty.faculty_name == 'BBS' %}
                        <a href="{% url 'bachelorFirstYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.year == 2 and subject.faculty.faculty_name == 'BBS' %}
                        <a href="{% url 'bachelorSecondYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.year == 3 and subject.faculty.faculty_name == 'BBS' %}
                        <a href="{% url 'bachelorThirdYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.year == 4 and subject.faculty.faculty_name == 'BBS' %}
                        <a href="{% url 'bachelorFourthYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>


                        {# ***************************** For Year wise BSW *************************************** #}
                    {% elif subject.year == 1 and subject.faculty.faculty_name == 'BSW' %}
                        <a href="{% url 'bachelorFirstYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.year == 2 and subject.faculty.faculty_name == 'BSW' %}
                        <a href="{% url 'bachelorSecondYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>

                    {% elif subject.year == 3 and subject.faculty.faculty_name == 'BSW' %}
                        <a href="{% url 'bachelorThirdYear' subject.faculty_id %}" class="btn btn-primary"><i
                                class="fas fa-backward"></i> Subjects</a>



                    {% endif %}


                </div>
            </div>
            <div class="card-body">
                <div class="topic-details">
                    <a href="#">
                        <img src="{{ subject.photo_url }}"        {# photo_url is in models.py #}
                             alt="Faculty Image" width="100">
                        <h3 style="font-weight: 900"> {{ subject.subject_name }}</h3>
                    </a><br>
                    <div class="details">
                        <h5>
                            Level : {{ subject.faculty.level.level_name }}
                        </h5>
                        <h5>
                            Faculty: {{ subject.faculty.faculty_name }}
                        </h5>

                        {% if subject.year == 1 %}
                            <h5>
                                Year: 1<sup>st</sup> year<br>
                            </h5>
                        {% elif subject.year == 2 %}
                            <h5>
                                Year: 2<sup>nd</sup> year<br>
                            </h5>
                        {% elif subject.year == 3 %}
                            <h5>
                                Year: 3<sup>rd</sup> year<br>
                            </h5>
                        {% elif subject.year == 4 %}
                            <h5>
                                Year: 4<sup>th</sup> year<br>
                            </h5>

                        {% endif %}


                        {% if subject.subject_semester == 1 %}
                            <h5>
                                Semester: 1<sup>st</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 2 %}
                            <h5>
                                Semester: 2<sup>nd</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 3 %}
                            <h5>
                                Semester: 3<sup>rd</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 4 %}
                            <h5>
                                Semester: 4<sup>th</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 5 %}
                            <h5>
                                Semester: 5<sup>th</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 6 %}
                            <h5>
                                Semester: 6<sup>th</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 7 %}
                            <h5>
                                Semester: 7<sup>th</sup> sem<br>
                            </h5>
                        {% elif subject.subject_semester == 8 %}
                            <h5>
                                Semester: 8<sup>th</sup> sem<br>
                            </h5>

                        {% endif %}

                    </div>

                </div>
                <hr>

                <div id="accordion" class="accordion">


                    <!-- For Notes -->
                    <div class="card-header collapsed shadow mb-3" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            <h3><i class="fas fa-book  text-info"></i> Notes</h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
                        <div class="row">
                            {% if notes %}
                                {% for note in notes %}
                                    <div class="col-md-4">
                                        <a href="{{ note.document.url }}"
                                           target="_blank">
                                            <img src="{{ note.photo_url }}" width="80"><br>
                                            <h5>{{ note.note_title }}</h5>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    <strong>Not available!</strong> We will add Notes as soon as possible.
                                </div>

                            {% endif %}
                        </div>
                    </div>

                    <!-- For Syllabus -->
                    <div class="card-header collapsed shadow mb-3" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseTwo">
                        <a class="card-title">
                            <h3><i class="far fa-clipboard  text-info"></i> Syllabus</h3>
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                        <div class="row">
                            {% if syllabus %}
                                {% for syllabus in syllabus %}
                                    <div class="col-md-4">
                                        <a href="{{ syllabus.document.url }}"
                                           target="_blank">
                                            <img src="{{ syllabus.photo_url }}" width="80"><br>
                                            <h5>{{ syllabus.syllabus_title }}</h5>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    <strong>Not available!</strong> We will add Syllabus as soon as possible.
                                </div>

                            {% endif %}
                        </div>

                    </div>

                    <!-- For PQ -->
                    <div class="card-header collapsed shadow mb-3" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseThree">
                        <a class="card-title">
                            <h3><i class="fas fa-question-circle text-info"></i> Past Questions</h3>

                        </a>
                    </div>
                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
                        <div class="row">
                            {% if past_question %}
                                {% for pq in past_question %}
                                    <div class="col-md-4">
                                        <a href="{{ pq.document.url }}"
                                           target="_blank">
                                            <img src="{{ pq.photo_url }}" width="80"><br>
                                            <h5>{{ pq.pq_title }}</h5>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    <strong>Not available!</strong> We will add Past Questions as soon as possible.
                                </div>

                            {% endif %}
                        </div>
                    </div>

                    <!-- For PQS -->
                    <div class="card-header collapsed shadow mb-3" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseFour">
                        <a class="card-title">
                            <h3><i class="fas fa-edit text-info"></i> Solutions</h3>

                        </a>
                    </div>
                    <div id="collapseFour" class="card-body collapse" data-parent="#accordion">
                        <div class="row">
                            {% if past_question_solution %}
                                {% for pqs in past_question_solution %}
                                    <div class="col-md-4">
                                        <a href="{{ pqs.document.url }}"
                                           target="_blank">
                                            <img src="{{ pqs.photo_url }}" width="80"><br>
                                            <h5>{{ pqs.pqs_title }}</h5>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    <strong>Not available!</strong> We will add Solution as soon as possible.
                                </div>

                            {% endif %}
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
{% endblock %}