{% include 'login_signup/base.html' %}


{% load static %}


{% block body %}
    <body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="{% static 'login_signup/images/book.jpg' %}" alt="form" width="484" height="569">
            </div>
            <form class="form-detail" action="" method="post">
                {% csrf_token %}

                <div style="margin-top: 50px">
                    <a href="/">
                        <img src="{% static 'images/logo_black.png' %}" width="200">
                    </a>
                </div>

                <h2 class="font-weight-bold" style="margin-top: 40px">New Password</h2>


                <div class="form-row">
                    <i class="fa fa-unlock-alt fa-lg icon"></i>
                    <input type="password" name="new_password1" id="id_password1" class="input-text"
                           placeholder="New Password"
                           required
                    >
                </div>
                <div class="form-row">
                    <i class="fa fa-lock fa-lg icon"></i>
                    <input type="password" name="new_password2" id="id_new_password2" class="input-text"
                           placeholder="Confirm Password"
                           required
                    >
                </div>


                <div class="form-row-last" style="margin-top: 20px; margin-bottom: 24px">
                    <input type="submit" name="register" class="register" value="Submit">
                </div>


            </form>

            {% if form.errors %}#}
                {% for field in form %}
                    {% for error in field.errors %}
                        <script>
                            Swal.fire(
                                'Error',
                                '<span class="text-danger">{{ error }}</span>',
                                'error'
                            )
                        </script>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}